:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-fonts: 'Raleway';

  /* text colors */
  --main-text-color: #212121;
  --other-text-color: #757575;
  --accent-text-color: #2196f3;

  /* bg colors */
  --main-background-color: #ffffff;
  --hero-and-footer-bg-color: #2f303a;
  --team-background-color: #f5f4fa;

  /* others */
  --adress-color: #ffffff99;
  --credo-color: #e5e5e5;
}
.body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  background-color: var(--team-background-color);
  color: var(--main-text-color);
  font-size: 14px;
}

/* reset styles */
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
}

/* Header SECT */
.header {
  background-color: var(--main-background-color);
}

.logo_WebStudio {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--accent-text-color);
  text-transform: capitalize;
}
.logo-accent {
  font-family: var(--secondary-fonts);
  color: var(--main-text-color);
  text-transform: capitalize;
}

.header_list_contacts .link:hover,
.header_list_contacts .link:focus {
  color: #9ccff8;
}

.header_list {
  list-style: none;
}

.header_link1 {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--accent-text-color);
  text-transform: capitalize;
}

.header_link2 {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
  text-transform: capitalize;
}

.header_link3 {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
  text-transform: capitalize;
}

.header_link4 {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--accent-text-color);
}

.header_link5 {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--other-text-color);
  text-transform: capitalize;
}
/* Main SECT */
.body {
  background-color: var(--main-background-color);
}
.section_Hero {
  background-color: var(--hero-and-footer-bg-color);
}
.section_Hero_TEXT {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-background-color);
}
.bttn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: #ffffff;
  background-color: var(--accent-text-color);
  border-radius: 4px;
}

.bttn:hover,
.bttn:target {
  background-color: #9ccff8;
}

.section_bttns {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-transform: capitalize;
}

.bttn_port {
  color: #ffffff;
  background: var(--accent-text-color);
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
}
.bttn_port:hover,
.bttn_port:target {
  background-color: #9ccff8;
}

.bttns {
  color: var(--main-text-color);
  background-color: var(--credo-color);
  cursor: pointer;
  text-transform: capitalize;

  border-radius: 4px;
}

.bttns:hover,
.bttns:target {
  background-color: #9ccff8;
}

/* section_credo */
.credo_list {
  column-count: 4;
  text-indent: 40px;
}
.credo_header {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-text-color);
}

.credo_text {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  column-count: 4;
  text-indent: 40px;

  color: var(--other-text-color);
}

/* What are we doing sec */

.we_text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.columns {
  column-count: 3;
}
/* our team sect*/
.our_team {
  box-sizing: border-box;
  border: 1px solid #000000;
  background: #f5f4fa;
}

.our_team_header {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.our_team_name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;

  color: var(--main-text-color);
}

.our_team_profession {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;

  color: var(--other-text-color);
}

/*   footer sect  */

.footer {
  background: var(--hero-and-footer-bg-color);
}

.logo_WebStudio_foot {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: capitalize;

  color: var(--accent-text-color);
}

.logo-accent_foot {
  color: var(--main-background-color);
  font-family: var(--secondary-fonts);
  text-transform: capitalize;
}

.location {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--main-background-color);
}

.mail {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--adress-color);
}

.tel {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--adress-color);
}

.location:hover,
.location:focus {
  color: #9ccff8;
}
.mail:hover,
.mail:focus {
  color: #9ccff8;
}
.tel:hover,
.tel:focus {
  color: #9ccff8;
}
